#weatherDisplay {
    display: none;
}

.dataContainer {
    padding:40px;
}

#mainInfo div{
    margin-top:20px;
}

#mainInfo #temperature {
    font-size: 3em;
    font-weight: 900;
    margin-bottom:20px;
    margin-top:0px;
}

#mainInfo #weather {
    font-size:1.2em;
    font-weight:700;
}

#mainInfo #location {
    font-size:1.5em;
    font-weight:900;
}

#additionalInfo{
    background-color: rgb(230,158,136);
    color:white;
}

#additionalInfo div {
    margin-bottom:10px;
    border-bottom: 1px solid white;
    font-size:1em;
    padding:5px;
}

#additionalInfo span {
    float:right;
    font-size: 1.2em;
    font-weight: 900;
}

.mainBtnCont {
    background-color:rgb(163, 232, 255);
}

.mainBtn {
    cursor:pointer;
    margin-top:20px;
    margin-bottom:20px;
    background-color: rgb(136,161,230);
    border:none;
    font-size:1.2em;
    padding:10px;
    color:white;
    border-radius:10px;
    font-weight:700;
    transition:0.3s;
}

.mainBtn:focus {
    outline:none;
}

.mainBtn:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black;
}

#forecast {
    background-color: rgb(137, 208, 230);
    z-index:6;
    margin-bottom:10%;
}

.dataSection {
    background-color: rgb(163, 232, 255);
    padding:5%;
    border-radius: 5px;
}

#forecastDataCont {
    width:720px;
    height:100px;
    margin-bottom:20px;
}

#forecastType {
    margin-bottom:20px;
}

.forecastConfigure {
    display: inline;
    border: none;
    padding:5px;
    font-weight:900;
    color:white;
    background-color: rgb(106, 133, 210);
    box-shadow: 0px 3px 5px black;
}

#forecast option, #graphData option{
    font-weight: 900;
}

#forecastDay {
    display:inline-block;
    width:140px;
    margin-bottom:50px;
}

#forecastDataCont .forecastItems {
    box-shadow: 0px 3px 5px black;
    color:black;
    width:80px;
    height:100px;
    padding:2px;
    padding-top:5px;
    display: inline-block;
    font-weight: 900;
    font-family: monospace ;
    text-align:center;
    background-color: white;
    border-radius:5px;
}

.forecastIcon {
    width:30px;
    height:30px;
    margin-top:10px;
}

.noRainImg {
    width: 48px;
    height: 46px;
    margin-top: 14px;
    margin-bottom: 0px;
}

#graphContainer .scrollable{
    background-color: white;
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;
}

#graphDay {
    margin-top:5%;
}


@media only screen and (min-width: 800px) {
    #mainInfo #temperature {
        margin-top:130px;
    }
    
    #additionalInfo{
        box-shadow: 0px 0px 5px black;
        display: inline-block;
        width:35%;
        border-radius: 15px 15px 0px 0px ;
    }
    
    #forecastDataCont {
        margin-top:20px;
        margin-left:2% ;
        display: grid;
        grid-column-gap:20px;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 30px;
        width:100%;
        height:auto;
        margin-bottom:20px;
    }
    
    .forecastConfigure {
        font-size:1.1em;
    }
    
    #forecastDay {
        width:170px;
    }
    
    #forecastDataCont .forecastItems {
        width:130px;
        height:170px;
        font-size:20px;
    }
    
    .forecastIcon {
        width:60px;
        height:60px;
        margin-top:10px;
        margin-bottom:10px;
    }

    .noRainImg {
        margin-top:10px;
        width:85px;
        height:85px;
    }
    
}

@media only screen and (min-width: 1000px) {
    #forecastDay {
        display: inline-block;
    }
    
    #forecastDataCont .forecastItems {
        width:80%;
        height:100%;
    }
    
    .forecastIcon {
        width:70px;
        height:70px;
        margin-top:10px;
    }
    
}