html {
	height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-image:linear-gradient(top, rgba(163, 232, 255, 0.596) 70%, rgb(137, 208, 230));
    background-image:-webkit-linear-gradient(top, rgba(163, 232, 255, 0.596) 70%, rgb(136, 208, 230));
	min-width:100%;
	padding-top:60px;
	background-size: cover;
	background-repeat: no-repeat;
}

.scrollable {
	overflow-y: hidden;
	overflow-x: auto;
}

.fixedCenter {
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.textCenter {
    text-align: center;
}

.absolutePointEle {
	top:0;
	left:0;
	margin:0;
	padding:0;
}

.centerCont {
	width:100%;
	text-align: center;
}

.centerItem {
	margin-left:auto;
	margin-right:auto;
}

.fixedEle {
	position: fixed;
}

.left_rightCenter {
	margin-left:auto;
	margin-right:auto;
}

a {
	text-decoration: none;
}


/* --------------
   Mobile design (Mobile first Design)
   --------------
*/
#mainPage {
	display: none;
}

#mainPage input[type=submit] {
	float:right;
}

#navContainer {
	height:40px;
	width:100%;
	padding-top:15px;
	z-index:100;
	background-color: transparent;
}

#mainTitle {
	font-size:1.5em;
	font-family: 'Times New Roman', Times, serif;
	font-weight:900;
	margin-left:20px;
}

#aboutPage{
	margin-top:25%;
	margin-left:5%;
	margin-right:5%;
	padding:5%;
	height:75vh;
	width:80%;
	z-index:50;
	border-radius:5px;
	background-color: rgb(152, 229, 255);
	color:black;
	overflow-y: scroll;
}

#aboutPage h2{
	font-size: 2.2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#aboutPage hr {
	border-color:rgb(74,74,74);

}

#aboutPage p {
	font-size:1.3em;
	font-family: monospace;
	text-align: justify;
}

#aboutPage ul li {
	margin-top:10px;
	font-size:1.1em;
	font-weight:800;
}

.pageLink {
	color:green;
}

.pageLink:visited {
	color:grey;
}

.pageLink:hover {
	color:orange;
}

#weatherIcon{
	width:100px;
	height:90px;
}

#dropDown {
	float:right;
	margin-right:20px;
	cursor:pointer;
}

#dropDown div {
	width:30px;
	height:5px;
	background-color: black;
	margin-top:3px;
}

#navItems {
	top:-260px;
	padding-top:100px;
	padding-bottom:20px;
	height:130px;
	background-color:rgb(64,64,64);
	z-index:100;
}

.navLink:visited {
	color:white;
}

.navLink {
	cursor: pointer;
}

.navLink:hover {
	color:orange;
}

#shader {
	display:none;
	background-color: rgba(0, 0, 0, 0.568);
	z-index:6;
	width:100vw;
	height:100vh;
}

#secondarySearch {
	background-color:rgb(74,74,74);
	color:white;
	font-size:1.2em;
	padding:5px;
	padding-left:10px;
	width:70vw;
	max-width:220px;
	outline:none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border:3px solid rgb(104,104,104);
	border-radius:5px;
	transition:font-size 0.3s, font-weight 0.3s;
	font-weight: 600;
}

#secondarySearch:focus {
	font-size: 1.3em;
	font-weight: 800;
}

#navItems li {
	display:block;
	width:100vw;
	background-color: transparent;
	font-size:1em;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:900;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	margin-left:40px;
}

#mainSearchBox {
	width:50vw;
	height:25px;
	font-size:2em;
	padding:10px;
	border-radius:5px;
	border:none;
	background-color: white;
	font-family: monospace;
	font-weight: 900;
	transition: width 0.3s, height 0.3s, box-shadow 0.3s, font-size 0.3s;
}

#mainSearchBox:focus {
	width:55vw;
	height:35px;
	font-size:2.2em;
	box-shadow: 0px 4px 3px grey;
}

footer {
	position: absolute;
	bottom:0;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	font-weight: 900;
	font-size:12px;
	font-family:verdana;
	background-color: rgb(66,165,195) ;
	color:white;
}


/* --------------
   Animations
   --------------
*/ 
.fade-in-left {
	-webkit-animation-duration: 1s;
	animation-delay:0.5s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
}

.fade-out {
	animation-duration:1s;
	animation-name:fadeOut;
	opacity:0;
	display:hidden;
}

.fade-out-up {
	animation-duration:0.5s;
	animation-name:fadeOutUp;
}

.fade-in-down {
	animation-duration:0.5s;
	animation-name:fadeInDown;
}

.turn-white {
	animation-duration:0.4s;
	animation-name:turnWhite;
}

.turn-black {
	animation-duration:0.4s;
	animation-name:turnBlack;
}

.bg-turn-black {
	animation-duration:0.4s;
	animation-name:bgTurnBlack;
}

.bg-turn-white {
	animation-duration:1s;
	animation-name:bgTurnWhite;
}

.rotateNav45 {
	animation-duration: 0.4s;
	animation-name: rotateNavTo45;
}

.rotateNav-45 {
	animation-duration: 0.4s;
	animation-name: rotateNavTo-45;
}

.rotateBackNav45  {
	animation-duration: 0.4s;
	animation-name: rotateBackNavFrom45;
}

.rotateBackNav-45  {
	animation-duration: 0.4s;
	animation-name: rotateBackNavFrom-45;
}

.hidden {
	animation-duration: 0.4s;
	animation-name:eleHide;
}

.appear {
	animation-duration: 0.4s;
	animation-name:eleAppear;
}


@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
	
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
	
@keyframes fadeOut {
	0% {
		opacity:1;
		transform: translateX(0px);
	}
	100% {
		opacity:0;
		transform: translateX(10px);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity:1;
		top:0px;
	}
	100% {
		opacity:0;
		top:-260px;
	}
}

@keyframes fadeInDown {
	0% {
		opacity:0;
		top:-260px;
	}
	100% {
		opacity:1;
		top:0px;
	}
}

@keyframes turnWhite {
	0% {
		color:black;
	}
	100% {
		color:white;
	}
}

@keyframes turnBlack {
	0% {
		color:white;
	}
	100% {
		color:black;
	}
}

@keyframes rotateNavTo45 {
	0% {
		background-color: black;
	}
	100% {
		transform:translate(0, 10px) rotate(45deg);
		background-color: white;
	}
}

@keyframes rotateNavTo-45 {
	0% {

		background-color: black;
	}
	100% {
		transform:translate(0, -5px) rotate(-45deg);
		background-color: white;
	}
}

@keyframes rotateBackNavFrom45 {
	0% {
		background-color: white;
	}
	100% {
		transform:translate(0, 0) rotate(0deg);
		background-color: black;
	}
}

@keyframes rotateBackNavFrom-45 {
	0% {
		background-color: white;
	}
	100% {
		transform:translate(0, 0) rotate(0deg);
		background-color: black;
	}
}

@keyframes eleHide{
	100% {
		opacity: 0;
		display:none;
	}
}

@keyframes eleAppear{
	100% {
		opacity: 1;
		display: inline-block;
	}
}