@media only screen and (min-width: 800px) {
    #navContainer {
        height:50px;
        background-color: white;
        box-shadow: 0px 1px 10px rgba(128, 128, 128 , 1);
    }

    #mainTitle {
        font-size:1.8em;
        margin-left:40px;
    }
    
    .scrollable {
        overflow: hidden;
    }

    #page{
        top:20%;
        height:80vh;
        max-height:700px;
        width:70%;
    }

    #page h2{
        font-size: 1.8em;
    }

    #weatherDisplay {
        margin-top:5%;
        display:none ;
    }

    #mainInfo {
        width:40%;
        display: inline-block;
    }

    #weatherIcon{
        width:100px;
        height:90px;
    }

    #navBg {
        height:60px;
        display: none;
    }

    #dropDown {
        display:none;
    }

    #navItems {
        top:0px;
        padding-top:10px;
        z-index:101;
        height:auto;
        background-color:transparent;
        display: inline-block;
        position:fixed;
        right:20px;
    }

    #secondarySearch {
        background-color:transparent;
        color:black;
        font-size:1.1em;
        width: 110px;
        border:3px solid transparent;
        border-bottom:3px solid rgb(104,104,104);
        border-radius:5px;
        transition:0.3s border;
        margin-left:20px;
    }

    #secondarySearch:focus {
        border: 3px solid rgb(104,104,104);
        font-size: 1.1em;
        font-weight: 800;
    }

    #searchIcon {
        padding: 10px;
        background-color: black;
        border:2px solid transparent;
        position:initial;
        margin-left:10px;
    }

    #searchIcon:hover {
        background-color: white;
        border:2px solid black;
        color:black;
        box-shadow:3px 3px 5px grey;
    }

    #navItems li {
        display:inline-block;
        width:auto;
        color:black;
        font-size:1.1em;
        margin-top:0px;
    }

    .navLink:visited {
        color:black;
    }

    .navLink {
        padding: 10px;
        color:black;
        border:2px solid transparent;
        transition:0.3s;
        border-radius:5px;
    }

    .navLink:hover {
        color:white;
        background:black;
        border:2px solid black;
        box-shadow:3px 3px 5px grey;
    }

    #mainSearchBox {
        width:40vw;
        min-height:50px;
        border:3px solid transparent;
        font-size: 2.2em;
    }

    #mainSearchBox:focus {
        min-height:60px;
        box-shadow:3px 3px 5px grey;
        width:45vw;
    }

    #errorPopUp #message {
        font-size: 2.5em;
    }

    #cityListSmall {
        right: 0;
        width: 50%;
    }

    .chartContainer {
        min-height:250px;
        height:20vh;
        width:70vw;
    }
}